body {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(240, 244, 246);
    font-family: "UD新ゴNT M", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    color: #333;
}


.article-body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .side #toc {
        display: none;
    }

    .article-body {
        display: block !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin: 10px !important;
    }

}

h1 {
    text-align: center !important;
}

.side {
    order: 1;
    border-right: solid 1px #ddd;
    padding-right: 20px;
}

.content {
    order: 2;
    padding: 20px;
    width: 95%;
    max-width: 900px;
    margin: auto;
    padding: auto;
}


.side-sticky {
    position: sticky;
    top: 20px;
}


.article-header {
    padding-top: 30px;
    margin: 10px;
}



.article-header .title {
    color: #001e43;
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom: dotted 3px #001e43;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.date {
    font-size: 14px;
    text-align: center;
    color: gray;
}

.date::before {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
}

.tag-placeholder {
    text-align: center;
    margin-bottom: 20px;
}

.tag {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid gray;
    color: #666;
    text-decoration-line: none;
}


button {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid rgba(99, 177, 255, 0.403);
    background-color: white;
    cursor: pointer;
    display: inline-block;
}



.toc_title {
    display: none;
}

.math-block {
    overflow-x: auto;
    overflow-y: hidden;
}

.math-inline {
    display: inline-grid;
    overflow-x: hidden;
    ;
}

mjx-container {
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}

h2 {
    border-left: solid 5px #85c0ff;
    padding-left: 10px;
}


img {
    max-width: 100% !important;
    height: auto;
}

@media (max-width: 1200px) {
    figure {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        overflow: hidden;
        padding: 20px;
    }
}


figure {
    text-align: center;
    color: gray;
}


h3 {
    border-bottom: 1px solid #ddd !important;
}

pre {
    padding: 10px;
}

.tex-equations {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

.exec_out {
    color: white;
}

@media (max-width: 1200px) {
    .exec_plot {
        width: 100%;
        overflow-x: auto;
    }
}

#toc {
    border-radius: 4px;
    padding: 15px;
    padding-left: 0px;
    list-style: none;
}

#toc a {
    text-decoration: none;
    color: #777;
    display: block;
    margin: 5px 0;
    transition: color 0.2s;
}

#toc a:hover {
    color: #007bff;
}

#toc .active {
    font-weight: bold;
    color: #007bff;
    font-size: 1.1em;
}

#toc {
    list-style: none;
    padding: 0;
    border-left: 2px dotted #a3c5db;
    border-radius: 0%;
}

#toc li {
    padding-left: 20px;
    margin-top: 10px;
    position: relative;
}

/* #toc li::before {
    content: '';
    width: 10px;
    height: 10px;
    background: #c4e4f9;
    border-radius: 50%;
    border: 1px solid #a3c5db;
    position: absolute;
    left: -7px;
    top: 0;
    transform: translateY(50%);
} */

.toc_H1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
    font-weight: bold;
}


.toc_H2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
    font-weight: bold;
}

/* .toc_H2::before {
    background: #f8f8f8 !important;
    border: 1px solid #3498db !important;
} */

.toc_H3 {
    font-size: 12px;
    margin-bottom: 10px;
    color: #007bff;
    padding-left: 10px;
}

.toc_H3::before {
    display: none !important;
}

#toposts,
#tohome,
#torss {
    display: inline-block;
    text-decoration: none;
}


.links {
    border-top: solid 1px #ddd;
    padding-top: 20px;
    color: hwb(211 18% 52%);
}

.links a {
    text-decoration: none;
    color: #3c3c3c;
}

.links {
    /* 等幅フォント */
    font-family: "Noto Sans Mono", monospace;
}

#toposts {
    color: #979797 !important;

}

#tohome {
    color: #b8792c !important;
}

#torss {
    color: #d88914 !important;
}

#twitter {
    color: #1da1f2 !important;
}

#github {
    color: #000000 !important;
}

#mail {
    color: #bbbbbb !important;
}


.content_list_h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: solid 1px #007bff;
    color: #007bff;
}

.content_list_h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
}

.content_list_problem {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
}

.badge {
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #777;
    border: 1px solid #444;
    margin: 0 8px;
    float: left;
}

.runbutton,
.submitbutton {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.runbutton {
    background-color: #007bff;
}

.runbutton:hover {
    background-color: #005580;
}

.submitbutton {
    background-color: #008000;
}

.submitbutton:hover {
    background-color: #006400;
}

.problem_title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.editor {
    width: 100%;
    height: 300px;
    font-size: 16px;
    font-family: monospace;
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    border: solid 1px #ddd;
}

.output,
.expect_out,
.sample_in,
.sample_out {
    width: 100%;
    padding: 5px 5px;
    overflow-x: auto;
    font-size: 16px;
    font-family: monospace;
    background-color: #f0f0f0;
    color: #333;
    border: solid 1px #ddd;
}

.box-title,
.problem_list {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #777;
}

pre {
    background-color: #282c34;
    border-radius: 5px;
}

pre code {
    color: #e8ebf0;
    line-height: 1.2;
    font-family: monospace;
}

.inline-code {
    font-family: monospace;
    line-height: 1.2;
    color: #e43e3ee0;
}

.success,
.info,
.warning,
.danger {
    padding: 12px;
    border: 1px solid;
    border-radius: 4px;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.definition {
    counter-increment: definition;
    border: #31708f 3px dotted;
    border-left: #31708fa1 5px solid;
}

.definition::before {
    content: "Definition " counter(definition) ".";
}

.theorem {
    counter-increment: theorem;
    border: #318f5a 3px dotted;
    border-left: #318f4fa1 5px solid;
}

.theorem::before {
    content: "Theorem " counter(theorem) ".";
}

.lemma {
    counter-increment: lemma;
    border: #ab5b64 3px dotted;
    border-left: #d071a4a1 5px solid;
}

.lemma::before {
    content: "Lemma " counter(lemma) ".";
}

.proof {
    counter-increment: proof;
    border: #5b64ab 3px dotted;
    border-left: #8cc1e7a1 5px solid;
}

.proof::before {
    content: "Proof " counter(proof) ".";
}

.definition::before,
.theorem::before,
.proof::before,
.lemma::before {
    font-family: serif;
    font-size: large;
    font-weight: 600;
    font-style: italic;
    display: block;
}


.definition,
.theorem,
.proof,
.lemma {
    padding: 12px;
    margin: 12px;
}

.proof::after {
    content: "∎";
    margin-left: auto;
    display: block;
}

iframe {
    width: 100%;
}


a {
    color: #006699;
    word-break: break-all;
}


/* マーカーで線が引かれる */
.lined {
    background: linear-gradient(transparent 70%, rgba(255, 165, 0, 0.6) 0) no-repeat;
    display: inline;
}

.dot-text {
    -webkit-text-emphasis: filled;
    text-emphasis: filled;
    -webkit-text-emphasis-color: #ff9800;
    text-emphasis-color: #ff9800;
    -webkit-text-emphasis-style: circle;
    text-emphasis-style: circle;
    font-weight: bold;
}